:root {
    --light-gray: #d4cdc5;
    --light-blue: #5b88a5;
    --white: #f4f4f2;
    --black: #191013;
    --dark-blue: #243a69;
    --light-gray-opacity: rgba(212, 205, 197, 0.7);
    --white-opacity: rgba(244, 244, 242, 0.7);
    --zvariable: 400px;
    --zvariable-small: 150px;
}

/* Generic */
.bg__light__blue {
    background-color: var(--light-blue) !important;
}

.bg__white__gray {
    background: linear-gradient(var(--white), var(--light-gray));
}

.bg__black {
    background-color: var(--black);
}

.bg__clouds {
    background-image: linear-gradient(var(--light-gray-opacity), var(--white-opacity)), url("../img/clouds.jpg");
    background-position: top;

    animation: home__bg__animation 300s infinite alternate;
}

@keyframes home__bg__animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

/* Main */
.main__containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.main__titles {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding-top: 3em;
}

/* Header */
.header__button {
    margin: 0.9em 0 0.9em 0 !important;
}

#navbarNav {
    align-items: center;
    justify-content: center;
}

.no__padding {
    padding: 0 !important;
}

.header__links {
    text-decoration: none;
    color: var(--white) !important;
    font-family: 'Source Code Pro', monospace;
    border-radius: 10px;
    padding: 0.5em 1em;
    margin: 1.5em 1.5em;
    transition: 0.5s;
    align-items: center !important;
    justify-content: center !important;
}

.header__links:hover {
    background-color: var(--white);
    border-radius: 10px;
    color: var(--black) !important;
    padding: 0.5em 1em;
    color: var(--black);
}

/* Home */
.container__inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container__inicio__img {
    width: 30rem;
    height: 30rem;
    background-image: url(../img/me-anime.png);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 300px;
}

.container__inicio__text {
    width: clamp(40vh, 30%, 40%);
    margin: 1rem;
    text-align: center;
}

.inicio__descricao {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inicio__title {
    font-family: 'Source Code Pro', monospace;
}

.inicio__text {
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
}

@media screen and (max-width: 800px) {

    .container__inicio__img {
        width: 20rem;
        height: 20rem;
    }

}

/* Projects */

.project__container {
    width: 70%;
    height: auto;
    margin-top: 3rem;
    border: 1px solid var(--dark-blue);
    padding: 2rem;
    border-radius: 10px;
}

.project__img {
    width: 100%;
    height: 10rem;
    border-radius: 10px;
}

.project__title {
    font-family: 'Source Code Pro', monospace;
    text-align: left;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--black);

}

.project__icon {
    width: 2rem;
    margin: 1rem 1rem 0 0;
}

.project__container__buttons {
    width: 65%;
    margin: 2rem 0 3rem 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.project__button {
    padding: 0.5rem 2rem 0.5rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: var(--light-blue);
    color: var(--white);
    font-family: 'Source Code Pro', monospace;
}

@media screen and (min-width: 900px) {

    .project__container {
       max-width: 50%;
    }


    .project__img {
        height: 20rem;
    }

    .project__container__buttons {
        max-width: 40%;
    }
}

/* Certifications */
.certificado-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;
}

.certificados-container__procurar {
    min-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.procurar__input {
    border: transparent;
    border-radius: 30px 0 0 30px;
    background-color: var(--light-gray);
    padding: 0 1em;
    width: 70%;
    font-size: 1em;
    min-width: 15em;
}

.procurar__input:focus {
    outline: none;
}

.procurar {
    padding: 1.5% 0.5em;
    background-color: var(--light-gray);
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}

.certificados__list {
    margin: 2em;
    overflow: scroll;
    overflow-x: hidden;
    cursor: pointer;
    height: 70%;
    width: 85%;
}

.certificado-container__img {
    width: 50%;
    margin: 0 3em 3em 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificado__img {
    min-width: 40vh;
    max-width: 90vh;
}

.cert {
    text-align: center;
    margin-right: 2em;
}

.cert:hover {
    background-color: var(--light-blue);
    color: var(--white);
    border-radius: 10px;
    text-align: center;

}

.cert__selecionado {
    background-color: var(--dark-blue);
    color: var(--white);
    border-radius: 10px;
    text-align: center;
}


/* Habilities */

.carousel-wrapper {
    position: relative;
    width: 10rem;
    margin: 10rem 0 0 0;
    perspective: 1000px;
}

.carousel__habilities {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(-360deg);
    animation: swirl 120s steps(10000, end) infinite;
}

.icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 160px;
    height: 200px;
}

.icon img {
    width: 160px;
    height: 160px;
    border: 1px solid var(--dark-blue);
    box-shadow: 0 0 15px 3px var(--light-blue);

}

.icon.one {
    transform: rotateY(0deg) translateZ(var(--zvariable));
}

.icon.two {
    transform: rotateY(36deg) translateZ(var(--zvariable));
}

.icon.three {
    transform: rotateY(72deg) translateZ(var(--zvariable));
}

.icon.four {
    transform: rotateY(108deg) translateZ(var(--zvariable));
}

.icon.five {
    transform: rotateY(144deg) translateZ(var(--zvariable));
}

.icon.six {
    transform: rotateY(180deg) translateZ(var(--zvariable));
}

.icon.seven {
    transform: rotateY(216deg) translateZ(var(--zvariable));
}

.icon.eight {
    transform: rotateY(252deg) translateZ(var(--zvariable));
}

.icon.nine {
    transform: rotateY(288deg) translateZ(var(--zvariable));
}

.icon.ten {
    transform: rotateY(324deg) translateZ(var(--zvariable));
}

@keyframes swirl {
    from {
        transform: rotateY(-360deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@media screen and (max-width: 900px) {

    .carousel-wrapper {
        position: relative;
        width: 95px;
    }

    .icon {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 80px;
        height: 80px;
    }

    .icon img {
        width: 80px;
        height: 80px;
        box-shadow: inset 0 0 20px 0 var(--light-blue);
    }

    .carousel-wrapper {
        margin: 4rem;
    }


    .icon.one {
        transform: rotateY(0deg) translateZ(var(--zvariable-small));
    }

    .icon.two {
        transform: rotateY(36deg) translateZ(var(--zvariable-small));
    }

    .icon.three {
        transform: rotateY(72deg) translateZ(var(--zvariable-small));
    }

    .icon.four {
        transform: rotateY(108deg) translateZ(var(--zvariable-small));
    }

    .icon.five {
        transform: rotateY(144deg) translateZ(var(--zvariable-small));
    }

    .icon.six {
        transform: rotateY(180deg) translateZ(var(--zvariable-small));
    }

    .icon.seven {
        transform: rotateY(216deg) translateZ(var(--zvariable-small));
    }

    .icon.eight {
        transform: rotateY(252deg) translateZ(var(--zvariable-small));
    }

    .icon.nine {
        transform: rotateY(288deg) translateZ(var(--zvariable-small));
    }

    .icon.ten {
        transform: rotateY(324deg) translateZ(var(--zvariable-small));
    }

    .habilities__container {
        min-height: 70vh;
    }
}

/* Footer */
.footer-container {
    min-height: 30vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer-container__text {
    margin-top: 1rem;
    margin-left: 1rem;
}

.footer-container__icons {
    display: flex;
    align-items: last baseline;
    justify-content: right;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.footer__title {
    margin: 0.5em 0.25em;
    font-family: 'Source Code Pro', monospace;
    color: var(--white);
}

.footer__text {
    margin: 0.5em 0.6em;
    font-family: 'Source Code Pro', monospace;
    color: var(--white);
}

.footer__link {
    text-decoration: none;
    margin: 1em 0.5em;
}

.footer__icon {
    font-size: 2em;
    color: var(--white);
}

/* Invisible */
.invisivel {
    opacity: 0;
    transition: 0.5s;
}

.fade__down {
    transform: translate(0, 5em);
}

.invisivel__cert {
    display: none;
}