:root {
    --light-gray: #d4cdc5;
    --light-blue: #5b88a5;
    --white: #f4f4f2;
    --black: #191013;
    --dark-blue: #243a69;
}

/* Generic  */
.bg__light__blue {
    background-color: var(--light-blue) !important;
}

.bg__white__gray {
    background: linear-gradient(var(--white), var(--light-gray));
}

.bg-black {
    background-color: var(--black);
}

/* Main */
.main__containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.main__titles {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding-top: 3em;
}

/* Header */
.header__button {
    margin: 0.9em 0 0.9em 0 !important;
}

#navbarNav {
    align-items: center;
    justify-content: center;
}

.no__padding {
    padding: 0 !important;
}

.header__links {
    text-decoration: none;
    color: var(--white) !important;
    font-family: 'Source Code Pro', monospace;
    border-radius: 10px;
    padding: 0.5em 1em;
    margin: 1.5em 1.5em;
    transition: 0.5s;
    align-items: center !important;
    justify-content: center !important;
}

.header__links:hover {
    background-color: var(--white);
    border-radius: 10px;
    color: var(--black) !important;
    padding: 0.5em 1em;
    color: var(--black);
}

/* Home */
.container__inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container__inicio__img {
    width: 30rem;
    height: 30rem;
    background-image: url(../img/anime-me.PNG);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 300px;
}

.container__inicio__text {
    width: clamp(40vh, 30%, 40%);
    margin:1rem;
    text-align: center;
}

.inicio__descricao {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inicio__title {
    font-family: 'Source Code Pro', monospace;
}

.inicio__text {
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
}

@media screen and (max-width: 800px) {

    .container__inicio__img {
        width: 20rem;
        height: 20rem;
    }

}

/* Projects */
.container__projects {
    display: flex;
    justify-content: center;
}

.projects__li {
    display: inline-block;
}

.projects__input {
    visibility: hidden;
}

.projects__label {
    cursor: pointer;
    padding: 0.5em 1em;
    margin-top: 1em;
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
    border: var(--light-gray) solid 2px;
    border-radius: 10px;
}

.projects__input:checked+.projects__label {
    background: var(--light-blue);
    padding: 0.5em 1em;
    border-radius: 10px;
    color: var(--white);
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
    border: var(--black) solid 2px;
}

.card__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card__style {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(30vh, 25%, 30%);
    border: var(--black) solid 0.2em;
    margin: 1em;
    border-radius: 10px;
    cursor: pointer;
}

.card__image {
    margin-top: 0.5em;
    width: 90%;
    height: auto;
}

.card__title {
    margin-top: 0.5em;
}

.project__link {
    text-decoration: none;
    color: var(--black);
    font-family: 'Source Code Pro', monospace;
    padding: 0.2em 0.5em;
    border-radius: 10px;
    font-size: 2em;
}

.project__link:hover {
    color: var(--white);
    background: var(--dark-blue);
}

.project-container__link {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 1em;
}


/* Certifications */
.certificado-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;
}

.certificados-container__procurar {
    min-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.procurar__input {
    border: transparent;
    border-radius: 30px 0 0 30px;
    background-color: var(--light-gray);
    padding: 0 1em;
    width: clamp(50% 70% 90%);
    font-size: 1em;
    min-width: 15em;
}

.procurar__input:focus {
    outline: none;
}

.procurar {
    padding: 1.5% 0.5em;
    background-color: var(--light-gray);
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}

.certificados__list {
    margin: 2em;
    overflow: scroll;
    overflow-x: hidden;
    cursor: pointer;
    min-height: 70%;
    min-width: 85%;
}

/* .certificados__list::-webkit-scrollbar{
    display: none;
} */

.certificado-container__img {
    width: 50%;
    margin: 0 3em 3em 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificado__img {
    min-width: 40vh;
    max-width: 90vh;
}

.cert {
    text-align: center;
    margin-right: 2em;
}

.cert:hover {
    background-color: var(--light-blue);
    color: var(--white);
    border-radius: 10px;
    text-align: center;

}

.cert__selecionado {
    background-color: var(--dark-blue);
    color: var(--white);
    border-radius: 10px;
    text-align: center;
}


/* Habilities */
.habilidades-container {
    display: flex;
    margin-top: 3em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habilidades-container__icons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 3rem 0 3rem;
    padding: 0;
    align-items: center;
    justify-content: center;

}

.habilidades-container__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.5em, 1em, 1.5em);
    margin-top: 4rem;
}

.habilidades__img {
    width: 5em;
    height: auto;
    margin: 1em 1em;
}

.habilidade__name {
    font-family: 'Source Code Pro', monospace;
    position: absolute;
}


/* Footer */
.footer-container {
    min-height: 30vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer-container__icons {
    display: flex;
    align-items: last baseline;
    justify-content: right;
}

.footer__title {
    margin: 0.5em 0.25em;
    font-family: 'Source Code Pro', monospace;
    color: var(--white);
}

.footer__text {
    margin: 0.5em 0.6em;
    font-family: 'Source Code Pro', monospace;
    color: var(--white);
}

.footer__link {
    text-decoration: none;
    margin: 1em 0.5em;
}

.footer__icon {
    font-size: 2em;
    color: var(--white);
}

/* Invisible */
.invisivel {
    opacity: 0;
    transition: 0.5s;
}

.fade__down {
    transform: translate(0, 5em);
}

.invisivel__cert {
    display: none;
}